#layout-wrapper {
    height: 100vh;
    overflow-y: scroll;
    padding-top: 65px;
    padding-bottom: 1rem;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container-fluid {
    max-width: 1200px;
}

