.enunciado {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark);
    border-bottom: 1px solid #00000011;
    margin-bottom: 1rem;
    text-align: justify;
    max-width: 1200px;

    ul {
        list-style-type: "−  ";
        list-style-position: outside;
        padding-left: 20px;
    }

    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.stats {
    display: flex;
    align-items: center;
    padding-top: 8px;

    .stat {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        margin-right: 6px;

        &.acertou {
            background-color: var(--success);
        }

        &.errou {
            background-color: var(--danger);
        }
        &.nada {
            background-color: #00000011;
        }
    }
}
