.questao-item {
    .enunciado {
        font-size: 18px;
        font-weight: bold;
        color: var(--dark);
        border-bottom: 1px solid #00000011;
        margin-bottom: 1rem;
        text-align: justify;
        max-width: 1200px;
    }
    .opcoes {
        .opcao {
            display: flex;
            margin-bottom: 0.5rem;

            .letra {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                border: 3px solid var(--dark);
                font-weight: bold;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s;
            }

            .texto {
                flex: 1;
                margin-left: 1rem;
                cursor: pointer;
                transition: all 0.3s;
            }

            &.marcada {
                .letra {
                    border-color: var(--primary);
                    color: var(--white);
                    background-color: var(--primary);
                }
            }

            &.riscada {
                .texto {
                    text-decoration: line-through;
                    color: #ccc;
                }
            }
        }
    }

    &.respondida {
        .opcoes {
            .opcao {
                &.marcada {
                    &.correta {
                        .letra {
                            background-color: var(--success);
                            border-color: var(--success);
                        }
                    }
                    &:not(.correta) {
                        .letra {
                            background-color: var(--danger);
                            border-color: var(--danger);
                        }
                    }
                }
                &:not(.marcada) {
                    &.correta {
                        .letra {
                            border-color: var(--success);
                            color: var(--success);
                        }
                    }
                }
            }
        }
    }
}
